*{
font-family: Arial, Helvetica, sans-serif
}
 
body{
    background-color: rgba(246, 248, 252);
    width: 50%;
    margin: 0 auto;
    justify-items: center;
}
 
.pokedex{
    margin-bottom: 0px;
}
 
.buscador{
    padding: 5px;
    padding-left: 15px;
    border: none;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
   
}
.flex-columnas{
    display: flex;
    gap: 175px;
    align-items: center;
    margin-top: 30px;
}
 
 .wrap-activado {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 25px;
 
 }
 
 .caja{
    height: 325px;
    width: 230px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
 }

 .caja:hover {
    transform: scale(1.05); 
    box-shadow: 0px 1px 25px  rgb(92, 92, 92);
}

 .buscador:hover {
    transform: scale(1.05); 
    box-shadow: 0px 1px 25px  rgb(92, 92, 92);
}

 .carta {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 8px;
    
 }

 .campo { 
    display: flex;
    flex-direction: column;
    height: 10px;
    
   
 }

 .grass {
    border-radius: 100px;
    border: none;
    background-color: #48d0b0;
    padding: 5px;
    font-size: 15px;
    color: white;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    width: 75px;
    

 }

 .poison {
    border-radius: 100px;
    border: none;
    background-color: #9f40a0;
    padding: 5px;
    font-size: 15px;
    color: white;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    width: 75px;
    
 }

 .linea {
    border: none;
    height: 2px;
    background-color: #e0e0e0;
    margin-top: 35px;
    height: 1px;
 }

 .numeropokedex {
   margin-top: 0;
   color: #cecece;
   font-weight: bold;
   font-size: 14px;
   text-align: right;
   
 }

 .fire {
   border-radius: 100px;
    border: none;
    background-color: #fb6c6c;
    padding: 5px;
    font-size: 15px;
    color: white;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    width: 75px;
    
    
 }

 .water {
    border-radius: 100px;
    border: none;
    background-color: #76bdfe;
    padding: 5px;
    font-size: 15px;
    color: white;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    width: 75px;
    
 }

 .foto {
   border-radius: 75px;
   background-color: #f0f0f0;
   overflow: visible;
   box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
 }

 .stats {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 8px;
    margin-top: 20px;
 }

 .electric {
    border-radius: 100px;
    border: none;
    background-color: #ffd86f;
    padding: 5px;
    font-size: 15px;
    color: white;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    width: 75px;
 }

 .letras {
   font-size: 14px;
   color: #828282;
 }

 .ghost {
    border-radius: 100px;
    border: none;
    background-color: #735797;
    padding: 5px;
    font-size: 15px;
    color: white;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    width: 75px;   
}

.normal {
    border-radius: 100px;
    border: none;
    background-color: #b8b5a7;
    padding: 5px;
    font-size: 15px;
    color: white;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    width: 75px;  
}

.dragon {
    border-radius: 100px;
    border: none;
    background-color: #8873fe;
    padding: 5px;
    font-size: 15px;
    color: white;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    width: 75px;
}

.phychic {
    border-radius: 100px;
    border: none;
    background-color: #ff6ea8;
    padding: 5px;
    font-size: 15px;
    color: white;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    width: 75px;
}

.ground {
    border-radius: 100px;
    border: none;
    background-color: #e2c56e;
    padding: 5px;
    font-size: 15px;
    color: white;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    width: 75px;   
}

footer { 
   width: 2000px;
   padding: 20px;
   background-color: #2c3d50;
   justify-items: center;
   color: white;
   font-weight: 800;
}

.redondeada {
    border-radius: 100px;
    border: none;

}

 .cajafort:hover {
    transform: scale(1.05); 
    box-shadow: 0px 1px 25px  rgb(0, 164, 246);
}

.cajafort {
    height: 325px;
    width: 230px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}